.button {
  padding: 8px 20px;
  widows: 200px;
  height: 50px;
  color: #fff;
  font-weight: 700;
  border-radius: 0;
  text-transform: uppercase;
  margin: 25px;
  overflow: hidden;
  position: relative;
}
.button::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #00fffc, transparent);
  transform: translateX(-100%);
  transition: 0.7s;
  position: absolute;
}
.button:hover {
  background: transparent;
  box-shadow: 0 0 20px 5px #0400ee;
}
.div {
  background-color: rgb(255, 126, 5);
  background-image: url(${bgImage});
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  display: flex;
  width: 100%;
  height: calc(81vh - 65px);
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 20px;
  padding: 10px 10px 100px 10px;
}
