/* @import-normalize; */
@import '~normalize.css';
/* @import-normalize; */
/* * {
  box-sizing: border-box;
} */

:root {
  --color-text-main: rgba(18, 20, 23, 1);
  --color-text-second: rgba(18, 20, 23, 0.5);
  --color-text-conditions: #363535;
  --color-text-button-and-back: #fff;
  --color-text-loadmore: #3470ff;
  --color-text-loadmore-hover: #0b44cd;
  --color-text-label: #8a8a89;
  --color-button: #3470ff;
  --color-button-hover: #0b44cd;
  --color-filter-field: #f7f7fb;
  --color-back-conditions: #f9f9f9;
  --color-modal-wrap: rgba(18, 20, 23, 0.5);
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

a {
  /* color: currentColor; */
  text-decoration: none;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
